.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background: rgba(0, 0, 0, 0.5);
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}
.info{
    display: inline;
    position: relative;
}
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 3cm;
      }
      .texxt{
          padding-top: 2.5cm;
          padding-bottom: 0.5cm;

      }
      .text-center{
        padding-top: 1cm;
        padding-bottom: 1px;
    }
    .card{
        display: inline-block;
        padding-top: 1cm;
		border: none;
    }
	.container-fluid{
		width: 100%;
		
	}
	.card-img-top{
		height: 100%;
		border-radius: 10px;
	  

	}
	.btn{
		padding-top: 0.5cm;
		padding-bottom: 0.5cm;
		font-weight: 600;
		
	}
	.card-body{
		padding: 0.1mm;
	}
	.card-text{
		font-family: 'Roboto', sans-serif;
		line-height: 1.6;
		
	}

	.content{
		padding-top: 2cm;
	}
	.image{
		height:15cm;
		
	}	
	
	.col{
		padding-right: 0px;
		padding-left: 0px;
	}
	.head-text{
		padding-top:1cm;
        color: white;
	}
	.d-flex{
		padding-right: 1cm;
		line-height: 2;
	}
	.right {

		float: left;
	
		
		padding: 10px;
	  }
	  .fa{
		  color:orange;
		  justify-content: center;
	  }
	  .center1 {
		text-align: center;
		width: 100%;
		padding-bottom: 0.2cm;

	
	}
   .card-subtitle{
	   justify-content: center;
	   padding-bottom: 0cm;
	   font-size: 1cm;
        font-weight: 400;
   }
.card-text1{
	font-weight: 700;
}
.content-tech{
	padding-top: 2cm;
	padding-bottom: 2cm;
}
.hurry{
	padding-top: 2cm;
	padding-bottom: 0cm;
}
.btnn{
	padding-left: 2cm;

}
.paraa{
	padding-left: 2cm;
}
.contentt{
	padding-top: 1cm;
	padding-left: 1cm;
	background-color: cornsilk;
	
}
.column-innerr {
	padding-left: 2cm;
	padding-top: 2cm;
	padding-bottom: 2cm;
	padding-right: 0cm;
	background-color: black;
	justify-content: center;
}
.quote{
	padding-left: 0cm;
	padding-right: 0cm;
}
.fit-image{
	width: 100%;
	object-fit: cover;
	height: 100%; /* only if you want fixed height */
	}
	.carousel-control-next{
		top: 16cm;
		
		width:2%;
	}
	.carousel-control-prev{
		top:16cm;
		
		width:2%;
		
	}
	.column-inner2{
		padding-bottom: 2cm;

	}
	.card-deck{
		padding-top:0cm ;
	}
	.card-text2{
		padding-top:0.3cm;
	}


	@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact4 {
  
	color: #05163b;
  
}

.contact4 h1, .contact4 h2, .contact4 h3, .contact4 h4, .contact4 h5, .contact4 h6 {
  color: #3e4555;
}

.contact4 .font-weight-medium {
	font-weight: 500;
}

.contact4 .form-control {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
  border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input::placeholder,
.contact4 textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

.contact4.bg-info {
    background-color: #aab4bd !important;
}

.contact4 .text-inverse {
    color: #131f3b !important;
}

@media (min-width: 1024px) {
	.contact4 .contact-box {
    padding: 228px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
    padding-left: 15px;
    padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
			position: relative;
			bottom: -95px;
			
	}
}
.card-texttt{
	padding-top:1cm;
}
.footer{
	padding-top: 1.5cm;
}

.recent-post{
	padding-bottom:1cm;
}
.iconn{
	padding-top: 30px;
}
.btn3{
	padding-top: 30px;
	padding-bottom: 30px;
}
.title_line_left{
	padding-left:2cm;
}
.title_line_right{
	padding-right: 1cm;
}
.cont{
	padding-top:0cm;
}
.card-titlee {
	font-size: 20px;
}
.card-title9{
	font-size: 20px;
	padding-bottom: 0.3cm;
}